.mid{
	width: 100%;
	height: 52px;
	margin-top: 25px;
}
.midn{

}
.top{
	width: 100%;
	height: 200px;
}
.intop{ 
	width: 600px;
	text-align: center;
}


img{max-width: 100%;}

.borders a:hover{
	border-bottom: 2px solid #ffc107;
}
h6{
 color:#cbd1cc;
 text-shadow: 1px 0px 2px black, 0 0 0em black;
}
h4{
 color:#cbd1cc;
 text-shadow: 1px 0px 2px black, 0 0 0em black;
}
h1{
 color:#cbd1cc;	
 text-shadow: 1px 0px 2px black, 0 0 0em black;
}
h5{
 color:#cbd1cc;
 text-shadow: 1px 0px 2px black, 0 0 0em black;
}
