
@media only screen and (max-width: 767px) {
	.top{
		height: 200px;
	}
	.mid{
		margin-top: 40px;
	}
	.knopka{
		display: block
	}
	.info{
		margin-top: 40px;
	}

	.intop{
		font-size: 20px;
	}
	.none{
		display: block;}
	.block{
		display: none;

	}
	.nav1{
		display: none;
	}
	.nav2{
		display: block;
	}
	ul {
		list-style-type: none;
		width:150px;
		height:560px;

}

li {float:left;

}
}
@media only screen and (min-width: 768px) {
	.none1{
		display: none;}
	.block1{
		display: block;
	}
	.nav2{
		display: none;
	}
	.nav1{
		display: block;
}
	}